parameters:
    level: 9
    paths:
        - src
        - ../modules/insights/backend/src
        - ../modules/forum/backend/src
    phpVersion: 80100
    ignoreErrors:
        -
            identifier: missingType.iterableValue
